<section class="about_section section_space_lg pb-0">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 order-lg-last">
                <div class="image_widget"><img src="assets/images/about/about_image_3.jpg"
                        alt="ProMotors - About Image">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about_content">
                    <div class="section_heading">
                        <h2 class="heading_text wow" data-splitting>Empowering Sustainable Transportation: Our Story at
                            Tesla.</h2>
                        <p class="heading_description mb-0">At Tesla, we're more than just a car company – we're
                            pioneers of sustainable transportation. Our journey began with a vision to accelerate the
                            world's transition to sustainable energy. From groundbreaking electric cars to renewable
                            energy solutions, we're committed to pushing the boundaries of innovation.</p>
                    </div>
                    <div class="progress_item">
                        <h4 class="item_title">Highly Qualified Experts</h4>
                        <div class="progress">
                            <div class="progress_bar rx_width_90 wow animated" role="progressbar" data-wow-duration="1s"
                                data-wow-delay=".4s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span
                                    class="value_text m-0">90%</span></div>
                        </div>
                    </div>
                    <div class="progress_item mb-0">
                        <h4 class="item_title">Clean, Modern Facility</h4>
                        <div class="progress">
                            <div class="progress_bar rx_width_98 wow animated" role="progressbar" data-wow-duration="1s"
                                data-wow-delay=".4s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span
                                    class="value_text m-0">98%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>