<footer class="site_footer">
    <div class="footer_content_area section_space_lg bg_gray_dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer_about pe-lg-5">
                        <div class="site_logo"><a class="site_link" routerLink="/"><img class="dark_theme_logo"
                                    src="assets/images/logo.png" alt="Site Logo"> <img class="light_theme_logo"
                                    src="assets/images/logo.png" alt="Site Logo"></a></div>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velite esse cillum dolore eu fugiat
                        </p>
                        <div class="footer_hotline"><span>Support center 24/7</span> <a class="hotline_number"
                                href="tel:+8801680636189">+880 1680 6361 89</a></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="info_list_wrap">
                        <h3 class="list_title">About Us</h3>
                        <ul class="info_list unordered_list_block text-uppercase">
                            <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                            alt="ProMotors - Icon Square">
                                    </span><span class="info_text">About Us</span></a></li>
                            <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                            alt="ProMotors - Icon Square">
                                    </span><span class="info_text">Our Team</span></a></li>
                            <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                            alt="ProMotors - Icon Square">
                                    </span><span class="info_text">Our Works</span></a></li>
                            <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                            alt="ProMotors - Icon Square">
                                    </span><span class="info_text">FAQ</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info_list_wrap">
                        <h3 class="list_title">Popular Services</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="info_list unordered_list_block text-uppercase">
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Repair
                                                Service</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Online
                                                Service</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Tyres
                                                Production</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Auto
                                                Equipments</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Hire
                                                Expert</span></a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="info_list unordered_list_block text-uppercase">
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Rims &
                                                Wheels</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Master
                                                Service</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span
                                                class="info_text">Service Booking</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Wash
                                                Service</span></a></li>
                                    <li><a><span class="info_icon"><img src="assets/images/icons/icon_square.svg"
                                                    alt="ProMotors - Icon Square"> </span><span class="info_text">Paint
                                                Service</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer_subscribe_form">
                        <h3 class="list_title">Subscribe</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>