<header class="site_header">
    <div class="header_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-5">
                    <div class="site_logo">
                        <a class="site_link" routerLink="/">
                            <img class="dark_theme_logo" src="assets/images/logo.png" alt="Site Logo">
                            <img class="light_theme_logo" src="assets/images/logo.png" alt="Site Logo">
                            <h4>Tesla.</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-2">
                    <nav class="main_menu navbar navbar-expand-lg">
                        <div class="main_menu_inner collapse navbar-collapse justify-content-center"
                            id="main_menu_dropdown">
                            <ul class="main_menu_list unordered_list_center">
                                <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
                                <li><a routerLinkActive="active" routerLink="/car/listing">Cars</a></li>
                                <li><a routerLinkActive="active" routerLink="/about">About</a></li>
                                <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-3 col-5">
                    <ul class="header_btns_group unordered_list_end">
                        <li><button class="mobile_menu_btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#main_menu_dropdown" aria-expanded="false"
                                aria-label="Toggle navigation"><i class="far fa-bars"></i></button></li>
                        <li>
                            <div class="mode-switch" data-bs-toggle="mode" data-cursor="-opaque" data-magnetic>
                                <input id="theme-mode-btn" type="checkbox">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>