<section class="hero_section hero_section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero_section_content">
                    <h1 class="hero_title wow" data-splitting>Welcome to the Future of Driving.</h1>
                    <p>Discover the Revolution of Electric Mobility at Tesla. Step into the world of innovation and
                        sustainability with our extraordinary range of electric cars. Tesla offers high-performance
                        vehicles that emit zero
                        tailpipe emissions without compromising on style or power.</p><a class="btn btn-primary"
                        href="/car/listing"><span class="btn_text">See All Cars</span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero_section_image"><img data-parallax='{"scale" : 0.6, "smoothness": 8}'
                        src="assets/images/landing-img.png" alt="ProMotors – Car Service Image"></div>
            </div>
        </div>
    </div>
    <div class="outline_text" data-parallax='{"x" : -200, "smoothness": 8}'>Tesla Auto.</div>
</section>